[Unit]
Description=Display NTP and GPS statistics on a display
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/chronotron
ExecStart=/opt/chronotron/chronotron.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
