# Chronotron - NTP/GPS display dependencies
PyYAML>=5.4
# This is a fork, ideally use python3-gps apt package instead
gpsd
# TODO is this the right pip package name:
# smbus-cffi>=0.5.1
rich>=13.0
luma.oled
